<div id="titlePrincipal">
    <h1>NUESTROS PRODUCTOS</h1>
</div>

{{#each products.docs}}
    <article class="container">
        <div class="card">
            <div class="imgBx">
                <img src="{{this.thumbnail}}" height="310" width="200"/>
            </div>
            <div class="contentBx" id="compra">
                <h2>{{this.title}}</h2>
                <p>${{data.price}}</p>
                <button class="botons" type="button" id="buy" href="#">Comprar</button>
            </div>
        </div>
    </article> 
{{/each}}

<nav aria-label="Paginacion">
    <ul class="pagination">
        {{#if products.hasPrevPage}}<li class="page-item"><a class="page-link" href="/products?page={{products.prevPage}}">Página Anterior</a></li>{{/if}}
        <li class="page-item"><a class="page-link" href="/products?page=1">Página 1</a></li>
        <li class="page-item"><a class="page-link" href="#">Pg {{products.page}} de {{products.totalPages}}</a></li>
        {{#if products.hasNextPage}}<li class="page-item"><a class="page-link" href="/products?page={{products.nextPage}}">Siguiente</a></li>{{/if}}
    </ul>
</nav>


{{!--
<script src="/socket.io/socket.io.js"></script> --}}
